<div class="row">
	<div class="item-image-container">
		<div class="item-name">
			<%= @product.product_name %>
		</div>
		<div class="item-image">
				<% if @product.image.nil? then %>
					<img src="../assets/img/No_Image.png" width ="300px" height="450px">

				<% else %>
				   
				  <img src="../assets/img/product/<%= @product.category %>/<%= @product.pack_number %>/<%= @product.image.image_path %>.jpg" style="width: 90%;">
				<% end %>
		</div>
		<div class="item-description">
			Description: <%= @product.description %>
		</div>
	</div>
	<div class="item-content">
		價格: $<%= @product.price %>
	</div>
	<div class="item-quantity">
		<%= form_for @product, :url => add_item_cart_path, remote: true do |f| %>
			<div style="margin-top: 3px;text-align: center;">	
			<%= f.label :庫存數 %> <%= f.select :quantity, options_for_select(@quantity.map) %>
			</div>
			<div class="col-md-2 col-md-offset-2 col-xs-2 col-md-offset-2" style="padding-top:10px;">
			<%= f.submit "購買", :class => "button item_buy_button"%>
			</div>
		<% end %>
	</div>

</div>