<div class="row">
	<div class="col-md-6 col-xs-6 item-image-container">
		<div class="col-md-12 col-xs-12 item-image">
				<%= @product.product_name %>
				<% if @product.image.nil? then %>
					<img src="../assets/img/No_Image.png" width ="355px" height="450px">

				<% else %>
				   
				  <img src="../assets/img/product/<%= @product.category %>/<%= @product.pack_number %>/<%= @product.image.image_path %>.jpg" style="width: 90%;">
				<% end %>
		</div>
		<div class="col-md-12 col-xs-12 item-description">
			Description: <%= @product.description %>
		</div>
	</div>
	<div class="col-md-4 col-xs-4 item-content">
		Price: $<%= @product.price %>
	</div>
	<div class="col-md-4 col-xs-4 item-content">
		<%= form_for @product, :url => add_item_cart_path, remote: true do |f| %>
			<%= f.label :quantity %>
			<%= f.select :quantity, options_for_select(@quantity.map), :prompt => 'Select One' %>
			<%= f.submit "Buy"%>
		<% end %>
	</div>

	<div class="col-md-10 col-xs-10 item-suggest-container"> Suggestion </div>
</div>