<div class="row">
	<div class="col-md-6 col-xs-6 item-image-container">
		<div class="col-md-12 col-xs-12 item-image">
			Product Name:<%= @product.product_name %>
				<% if @product.image.nil? then %>
				  Image Name: No Image
				<% else %>
				  <img src="../assets/img/<%= @product.category %>/<%= @product.image.image_path %>">
				<% end %>
		</div>
		<div class="col-md-12 col-xs-12 item-description">
			Description: <%= @product.description %>
		</div>
	</div>
	<div class="col-md-4 col-xs-4 item-content">
		Price: $<%= @product.price %>
	</div>
	<div class="col-md-10 col-xs-10 item-suggest-container"> Suggestion </div>
</div>