<div class="row">
  <div class="col-md-12 menu">
	<ul>
		<li class="list"> a
			<ul class="subList">
				<li><%= link_to "a1", product_list_path(:category => "a") %></li>
				<li><%= link_to "a2", product_list_path(:category => "a") %></li>
				<li><%= link_to "a3", product_list_path(:category => "a") %></li>
				<li><%= link_to "a4", product_list_path(:category => "a") %></li>
			</ul>
		</li>
		<li class="list">b
			<ul class="subList">
				<li><%= link_to "b1", product_list_path(:category => "b") %></li>
				<li><%= link_to "b2", product_list_path(:category => "b") %></li>
				<li><%= link_to "b3", product_list_path(:category => "b") %></li>
				<li><%= link_to "b4", product_list_path(:category => "b") %></li>
			</ul>
		</li>
		<li class="list">c
			<ul class="subList">
				<li><%= link_to "c1", product_list_path(:category => "c") %></li>
				<li><%= link_to "c2", product_list_path(:category => "c") %></li>
				<li><%= link_to "c3", product_list_path(:category => "c") %></li>
				<li><%= link_to "c4", product_list_path(:category => "c") %></li>
			</ul>
		</li>
		<li class="list">d
			<ul class="subList">
				<li><%= link_to "d1", product_list_path(:category => "d") %></li>
				<li><%= link_to "d2", product_list_path(:category => "d") %></li>
				<li><%= link_to "d3", product_list_path(:category => "d") %></li>
				<li><%= link_to "d4", product_list_path(:category => "d") %></li>
			</ul>
		</li>
		<li class="list">e
			<ul class="subList">
				<li><%= link_to "e1", product_list_path(:category => "e") %></li>
				<li><%= link_to "e2", product_list_path(:category => "e") %></li>
				<li><%= link_to "e3", product_list_path(:category => "e") %></li>
				<li><%= link_to "e4", product_list_path(:category => "e") %></li>
			</ul>
		</li>
	</ul>
  </div>
</div>