<div class="row">
  <div class="col-md-12 menu">
	<ul>
		<li class="list"> Vanguard
			<ul class="subList">
				<li><%= link_to "Pack1", product_list_path("Vanguard") %></li>
				<li><%= link_to "Pack2", product_list_path("Vanguard") %></li>
				<li><%= link_to "Pack3", product_list_path("Vanguard") %></li>
				<li><%= link_to "Pack4", product_list_path("Vanguard") %></li>
			</ul>
		</li>
		<li class="list"><%= link_to "Mats", product_list_path("Mats") %></li>
	</ul>
  </div>
</div>