<div class="row">
  <div class="col-md-12 menu">
	<ul>
		<li class="list"> Vanguard
			<ul class="subList">
				<li><%= link_to "Pack1", product_list_path("Vanguard") %></li>
				<li><%= link_to "Pack2", product_list_path("Vanguard") %></li>
				<li><%= link_to "Pack3", product_list_path("Vanguard") %></li>
				<li><%= link_to "Pack4", product_list_path("Vanguard") %></li>
			</ul>
		</li>
		<li class="list">b
			<ul class="subList">
				<li><%= link_to "b1", product_list_path("b") %></li>
				<li><%= link_to "b2", product_list_path("b") %></li>
				<li><%= link_to "b3", product_list_path("b") %></li>
				<li><%= link_to "b4", product_list_path("b") %></li>
			</ul>
		</li>
	</ul>
  </div>
</div>