	<div class="cart_box">
		<% if @cart_left.empty? then %>
			<div class="cart_empty">Please Add Item to Cart</div>
		<% else %>
			<%= form_tag edit_cart_quantity_path, remote: true do %>
				<% for cart in @cart_left %>
					
						<div class="cart_image">
							<img src="../assets/img/No_Image.png" >
						</div>
						<div class="cart_description">
							<div class="Cart_Product_Name">
								<%= cart.product.product_name %>
							</div>
							<div class="Cart_Quantity" style="line-height: normal;">
								<%= text_field_tag "cart_quantity[]", cart.quantity, {:class => "cart-quantity", :size=>"1"} %> / <%= cart.product.quantity %>
								<%= hidden_field_tag "product_id[]", cart.product_id %>
							</div>
							<div class="Cart_Total">
								$<%= cart.total_value %>
							</div>
							<div class="Cart_Price">
								<%= link_to "Delete", remove_cart_path(cart.id), remote: true%>
							</div>
						</div>
				<% end %>
			<%= submit_tag "Update Quantity" %>
			<% end %>
		<div class="Cart_Price_Total">Total Amount: $<%= @cartPriceTotal %></div>
		<%= link_to "Complete Order", order_path %>
		<% end %>
	</div>

