
<div id="Cart_Container">
	<div class="cart_box">
		<% if @cart.empty? then %>
			<div class="cart_empty">Please Add Item to Cart</div>
		<% else %>
				<% counter = 1%>

				<% for cart in @cart %>
					<%= form_tag  edit_cart_quantity_path, :class=>"cart_form", remote: true do %>
						<div class="cart_image">
							<img src="../assets/img/No_Image.png" >
						</div>
						<div class="cart_description">
							<div class="Cart_Product_Name">
								<%= cart.product.product_name %>
							</div>
							<div class="Cart_Quantity" style="line-height: normal;">
								<%= select_tag "cart_quantity", options_for_select(@quantity_list[counter.to_s].map, cart.quantity), {:class => "cart-quantity", :size=>"1"}%> / <%= cart.product.quantity %>
								<%= hidden_field_tag "product_id[]", cart.product_id %>
								<%= hidden_field_tag "cart_number", counter %>
							</div>
							<div class="Cart_Total">
								$<%= cart.total_value %>
							</div>
							<div class="Cart_Price">
								<%= link_to "Delete", remove_cart_path(cart.id), remote: true%>
							</div>
						</div>
						<%= submit_tag "Update Quantity", :onclick => "this.disabled=true;;$('#home').css('overflow','hidden');$('#afui_mask').show();$('.load_mask').show();this.disabled=false;", :class=>"loading_mask" %>
						<% counter = counter + 1 %>
						
					<% end %>
				<% end %>
		<div class="Cart_Price_Total">Total Amount: $<%= @cartPriceTotal %></div>
		<%= link_to "Complete Order", order_path %>
		<% end %>
		
	</div>

</div>
<div id="Loading_mask" class="load_mask", style="display: none;"></div>
<div id="add_cart"></div>
