
<div id="Cart_Container">
	<div class="cart_box">
		<% if @cart.empty? then %>
			<div class="cart_empty">Please Add Item to Cart</div>
		<% else %>
				<% counter = 1%>

				<% for cart in @cart %>
					<%= form_tag  edit_cart_quantity_path, :class=>"cart_form cart_form_#{counter}", remote: true do %>
						<div class="cart_image">
							<img src="../assets/img/product/<%= cart.product.category %>/<%= cart.product.pack_number %>/<%= cart.product.image.image_path %>.jpg" width=100px height=150px style="border: 1px solid #eee;margin-left: 10px;">
						</div>
						<div class="cart_description">
							<div class="Cart_Product_Name">
								<ul class="Cart_Title">商品名稱: </ul><ul><%= cart.product.product_name %></ul>
								<ul><%= cart.product.product_number %></ul>
							</div>
							<div class="Cart_Quantity" style="line-height: normal;">
								<%= select_tag "cart_quantity", options_for_select(@quantity_list[counter.to_s].map, cart.quantity), {:class => "cart-quantity", :size=>"1"}%> / <%= cart.product.quantity %>
								<%= hidden_field_tag "product_id[]", cart.product_id %>
								<%= hidden_field_tag "cart_number", counter %>
							</div>
							<div class="Cart_Price">
								單價: $<%= cart.product.price %>
							</div>
							<div class="Cart_Total Cart_<%= counter %>">
								總價: $<%= cart.total_value %>
							</div>
							<div class="">
								<%= link_to "刪除", remove_cart_path(:id => cart.id, :form_id => counter), :class => "button cart_delete", remote: true%>
							</div>
						</div>
						<%= submit_tag "更新", :class=>"button loading_mask" %>
						<% counter = counter + 1 %>
						
					<% end %>
				<% end %>
		<div class="Cart-Options">
			<div class="Cart_Price_Total"><div class="Cart_Title Whole-Cart-Total">所選商品的金額總計(元): </div>$<%= @cartPriceTotal %></div>
			<%= link_to "訂購 ", order_path, :class => "button Complete_Order" %>
			<% end %>
		</div>
	</div>
</div>
