<div class="col-md-12 col-xs-12">
	<img src="../assets/img/<%= @category_name.category %>_Banner.png">
<% @product.each do |product| %>
<div class="col-prod product">
	<div class="image">
	<% if product.image.nil? then %>
	  
		<%= link_to image_tag("../assets/img/No_Image.png", width: '100px', height: '150px'), product_path(product) %>
	<% else %>
	
		<%= link_to image_tag("../assets/img/#{product.category}/#{product.image.image_path}", width: '100px', height: '150px', class: 'product_image_little'), product_path(product) %>
	
	<% end %>
	</div>
	<div class="name" style="overflow:hidden">
		<%= link_to "#{product.product_name}", product_path(product) %>
	</div>
	<div class="product_price price">
		$<%= product.price %>
	</div>
	<div class="product_buy>
		<%= link_to "購買", add_cart_path(product), :remote => true%>
	</div>
	<div class="quantity">
		[ 在庫存數: <%= product.quantity %> ]
	</div>
</div>
<% end %>

</div>
<div class="col-md-12 col-xs-12 ">
<%= paginate @product %>
</div>
<div id="add_cart">
</div>


	
