<!DOCTYPE HTML PUBLIC>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.16.0/build/cssreset/cssreset-min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
<link rel="stylesheet" href="/assets/css/main.css">
<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-main="/assets/js/main.js" src="/assets/js/lib/require.js" charset="utf-8" type="text/javascript"></script>
</head>
<style>

</style>

<body>
	<div id="container">
					<div class="col-md-10 col-xs-10">
					<div class="col-md-7 col-xs-7 item-content">Product Name</div>
					<div class="col-md-1 col-xs-1 item-content">Pack</div>
					<div class="col-md-2 col-xs-2 item-content">Card Number</div>
					<div class="col-md-2 col-xs-2 item-content">Image Name</div>
					<% @product.each do |product| %>
					<div class="col-md-7 col-xs-7 item-content">
					<%= product.product_name %>
					</div>
					<div class="col-md-1 col-xs-1 item-content">
					<%= product.pack_number %>
					</div>
					<div class="col-md-2 col-xs-2 item-content	">
					<%= product.product_number %>
					</div>
					<div class="col-md-2 col-xs-2 item-content">
					VG-<%= product.product_number.slice(0,4) %>-<%= product.product_number.slice(5,4) %>
					</div>
					<% end %>
					</div>

	</div>
</body>
</html>
