<div id="Register_Container">
	<div class="col-md-12 col-xs-12 register_block">
	<div class="col-md-12 col-xs-12 register_label"> Registration </div>
	<div class="col-md-12 col-xs-12 register_box">	
	<%= form_for @user, :url => create_user_path(@user), remote: true do |f| %>
		  <div class="col-md-10 col-xs-10 register_box">
			  <div class="col-md-12 col-xs-12">
				<%= f.label :user_name %>
			  </div>
			  <div class="col-md-12 col-xs-12">
				<%= f.text_field :user_name %>
			  </div>
		  </div>
		  <div class="col-md-10 col-xs-10 register_box">
			  <div class="col-md-12 col-xs-12">
				<%= f.label :email %>
			  </div>
			  <div class="col-md-12 col-xs-12">
				<%= f.text_field :email %>
			  </div>
		  </div>
		  <div class="col-md-10 col-xs-10 register_box">
			  <div class="col-md-12 col-xs-12">
				<%= f.label :password %>
			  </div>
			  <div class="col-md-12 col-xs-12">
				<%= f.password_field :password %>
			  </div>
		  </div>
		  <div class="col-md-10 col-xs-10 register_box">
			  <div class="col-md-12 col-xs-12">
				<%= f.label :password_confirmation , 'Password Confirmation'%>
			  </div>
			  <div class="col-md-12 col-xs-12">
				<%= f.password_field :password_confirmation %>
			  </div>
		  </div>
		  <div class="col-md-8 col-md-offset-7 col-xs-8 col-xs-offset-7">
		  <%= f.submit "Register", {:class => "register-button button"}%>
		  </div>
	<% end %>
	</div>
	<div id="error_msg" >
	
	</div>
	</div>
</div>
</div>


