<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0;" />
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-mobile1.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/af.ui.base.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/icons.css" />
	<link rel="stylesheet" href="/assets/css/main-mobile.css">
	<script data-main="/assets/js/main-mobile.js" src="/assets/js/lib/require.js" charset="utf-8" type="text/javascript"></script>
	<style>
	ul.list {
		text-align: center;
	}
	.device_change {
		text-align: center;
	}
	</style>
    

</head>
<body> 

<div id="afui">
    
    <!--Left Side Menu Navigation bar -->
    <nav>
        <ul class="list">
			<li class="Slider-Title">商品</li>
            <li><%= link_to "Vanguard (先導者)", product_list_path("Vanguard") %></li>
            <li><%= link_to "Mats (卡墊)", product_list_path("Mats") %></li>


        </ul>
    </nav>
	<aside>
		<ul class="list">
			<li class="Slider-Title">我的帳戶</li>
			<% if @user_logged_in.nil? then %>
			<li><%= link_to "登入" , mobile_log_in_path %></li>
			<% else %>
			<li>Welcome <%= @user_logged_in %></li>
			<li><%= link_to "登出" , {:controller => "sessions", :action => "session_end"} %></li>
			<% end %>
            <li><%= link_to "免費註冊", register_path  %></li>
		</ul>
    </aside>

	
        <div id="content" style="">

            <!--Main Pages-->
            <div class="panel" title="Home" id="home" data-header="top-header" data-footer="none" selected="true">
				<header>
					<a onclick='$.ui.toggleLeftSideMenu()' class='menuButton' style="float:left"></a>
					<a onclick='$.ui.toggleRightSideMenu()' class='button icon user' style="float:right"></a>

						<a href=".." class="home_button">
							<div class="home_button_top"></div>
							<div class="home_button_bottom"></div>
						</a>
						<a href="/cart" class="cart_button">
							<img src="../assets/img/cart_icon.png" width="40px" height="40px"></img>
						</a>
					                
					
				</header>
<%= yield %>

			<div class="col-md-12 col-xs-12 device_change">
			<%= link_to "電腦版", :ua_ => 0 %> | <%= link_to "手機板", :ua_ => 1 %>
			</div>
		</div>
			
			
		</div>

</div>
</body>
</html>    
